.navbar{
    border: 2px solid red;
    width: 100vw;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar ul li{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

a{
    text-decoration: none;
}